<%- include('common/header', {title: 'Category Report'}) %>

<%
categoryItems.forEach((v) => v[1] = `<a target='_blank' href='/category?category=${v[1]}'>Link</a>`);
%>

<div class="row">
    <div class="col-6">
        <%- include('components/tree_table', {
            title: 'Category Sales Overview',
            id: 'treetable_category', 
            rows: treeItemCount,
            columns: 3,
            headers: ['Category', 'Quantity', 'Income (LKR)',],
            numeric: [false, true, true],
            rawhtml: [false, false, false], 
            data: treeItems,
            parents: treeItemParents
                
        }) %>
    </div>
    <div class="col-6">
        <%- include('components/table', {
            title: 'Top Category Sales',
            rows: categoryItemCount,
            columns: 4,
            headers: ['Category Name', 'Page', 'Quantity', 'Income (LKR)',],
            numeric: [false, false, true, true],
            rawhtml: [false, true, false, false], 
            print: [true, false, true, true], 
            data: categoryItems
        }) %>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <%- include('components/pie_chart', {
            title: 'Category Sales Chart (With Quantity)',
            id: 'chart_category_quantity',
            height: '600px',
            data:  categoryitemsWithQuantity
        }) %>
    </div>
    <div class="col-6">
        <%- include('components/pie_chart', {
            title: 'Category Sales Chart (With Income - LKR)',
            id: 'chart_category_income',
            height: '600px',
            data:  categoryItemsWithIncome
        }) %>
    </div>
</div>



<%- include('common/footer') %>