<%- include('common/header', {title: 'Category Report'}) %>

<div class="row">
    <div class="col-6">
        <%- include('components/tree_table', {
            title: 'Category Sales',
            id: 'treetable_category', 
            rows: treeItemCount,
            columns: 3,
            headers: ['Category ', 'Quantity', 'Income (LKR)',],
            numeric: [false, true, true],
            rawhtml: [false, false, false], 
            data: treeItems,
            parents: treeItemParents
                
        }) %>
        <%- include('components/table', {
            title: 'Top 10 Categories',
            rows: categoryItemCount,
            numeric: [false, true, true],
            columns: 3,
            headers: ['Category Name', 'Quantity','Income (LKR)'],
            rawhtml: [false,false,false],
            data: categoryItems
        }) %>
    </div>
    <div class="col-6">
        <%- include('components/bar_chart', {
            title: 'Top 10 Category Sales Chart',
            id: 'barchart_category',
            height: '800px',
            data:  categoryitemsWithQuantity
        }) %>
    </div>
</div>





<%- include('common/footer') %>