<%- include('common/header', {title: 'Product Report'}) %>

<%
last_order = orderedItems[orderedItems.length-1];
last_visit = visitedItems[visitedItems.length-1];
%>

<h2 class="text-center"><%= productData.title %></h2>

<div class="text-center my-3 dont-print">
    <a href="/item/show/<%=productData.product_id%>" target="_blank" type="button" class="btn btn-success"><span
            class="cil-cart btn-icon mr-2"></span>
        Visit Product Page</a>
    <a href="/report/product/" class="btn btn-danger"><span class="cil-exit-to-app btn-icon mr-2"></span>
        Back to Products</a>
    <a href="/report/sales/" class="btn btn-warning"><span class="cil-money btn-icon mr-2"></span>
        Sales Report</a>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header bg-dark text-white">Product Details</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Brand: </span>
                        <%=(productData.brand) ? productData.brand : 'Not branded'%>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold">Weight (kg): </span>
                        <%=(productData.weight_kilos) ? productData.weight_kilos : 'Not given'%>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold">Added Date:</span>
                        <%=productData.added_date%>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <%- include('components/table', {
            title: 'Variants',
            rows: variantData.length,
            numeric: [false, true, true, true],
            columns: 4,
            headers: ['Variant Name', 'Quantity','Selling Price (LKR)','Listed Price (LKR)'],
            rawhtml: [false, false, false, false],
            data: variantData.map((v) => [v.title, v.quantity, v.selling_price, v.listed_price])
        }) %>
    </div>

    <div class="col-lg-3">
        <%- include('components/callout', {
            title: 'Product Page Visits',
            color: 'bg-indigo-500', 
            value: last_visit.value,
            percentage: 100,
            helpertext: 'Last Visit on: ' + last_visit.date,
        }) %>
        <%- include('components/callout', {
            title: 'Total Product Sales',
            color: 'bg-teal-500', 
            value: last_order.value,
            percentage: (last_order.value/last_visit.value) * 100,
            helpertext: 'Last Order on: ' + last_order.date,
        }) %>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <%- include('components/line_chart', {
            title: 'Visited Users from ' + visitedItems[0].date ,
            id: 'visited_users_chart', 
            height: '500px',
            color: '#3F51B5',
            data:  visitedItems,
        }) %>
    </div>


    <div class="col-lg-6">
        <%- include('components/line_chart', {
            title: 'Orders from ' + orderedItems[0].date ,
            id: 'prd_sales_chart', 
            height: '500px',
            color: '#009688',
            data:  orderedItems,
        }) %>
    </div>
</div>

<%- include('common/footer') %>