<%- include('common/header', {title: 'Sales Report'}) %>

<div class="row dont-print">
    <div class="col-12">
        <%- include('components/callout', {
            title: 'Add Quartely Sales Report',
            color: 'bg-red-500', 
            value: '@Anju',
            percentage: 100,
            helpertext: '@Anju',
        }) %>
    </div>
</div>

<div class="col-lg-12">
    <%- include('components/line_chart', {
            title: 'Number of Sales per day ',
            id: 'sales_chart', 
            height: '500px',
            color: '#009688',
            data:  sales,
        }) %>
</div>

<hr />

<div class="row">
    <div class="col-lg-12">
        <%- include('components/tabulator', {
            title: 'Top 10 Bestselling Products',
            id: 'top_10_bestselling_prds',
            pagination: "local",
            paginationSize: 10,
            columns: [
                { title: "#", field: "index", width: 75},
                { title: "Product Name", field: "title" },
                { title: "Quantity", field: "quantity", align: "right", width: 150 },
                { title: "Income (LKR)", field: "income", align: "right", width: 150, 
                    precision: 2, formatter:"money", formatterParams:{thousand:" ", precision: 2} },
                { title: "Report", field: "product_id", formatter:"link", 
                    formatterParams: {label: "Show",urlPrefix: "/report/product?id=",}, width: 100 },
            ],
            filter: "title",
            filterTitle: "Product Name",
            data: products,
        }) %>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <%- include('components/bar_chart', {
                title: 'Top 10 Best Selling Products - Quantity',
                id: 'barchart_product_q',
                height: '600px',
                data:  products.map((v) => ({label: `#${v.index}`, value: v.quantity}))
            }) %>
    </div>
    <div class="col-lg-6">
        <%- include('components/bar_chart', {
                title: 'Top 10 Bestselling Products - Income',
                id: 'barchart_product_i',
                height: '600px',
                data:  products.map((v) => ({label: `#${v.index}`, value: v.income}))
            }) %>
    </div>
</div>


<%- include('common/footer') %>