<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar',{userData}) %>
    <%- include('common/banner', {title: 'Shopping Cart', description: 'Add/Remove items from your cart and proceed to checkout'}) %>

    <%- include ('partial/cart', {
        items: items,
        subtotal: subtotal,
        error:error
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>
    <script>
        let app = new Vue({
            el: '#shopping_cart_page',
            data: {
                selectedQuantity: 0,
                cartitemid: '',
                itemtitle: '',
            }
        });
    </script>
</body>

</html>