<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar') %>
    <%- include('common/banner', {'title': 'Shopping Cart'}) %>

    <%- include ('partial/cart', {
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>

    <script>
        let app = new Vue({
            el: '#shopping_cart_page',
            data: {
                current: 0,
                variants: JSON.parse(`
                    <%- JSON.stringify([
                        {
                            id: 'var_1_1',
                            title: 'BLue Colored variant',
                            price: 'LKR 4900',
                            amount: 5,
                            attributes: {
                                'Color': 'blue'
                            }
                        },
                        {
                            id: 'var_1_2',
                            title: 'Red Colored variant with 1GB',
                            price: 'LKR 5440',
                            amount: 0,
                            attributes: {
                                'Color': 'red'
                            }
                        }
                    ]) %> 
                `),
                selectedQuantity: 1
            }
        });
    </script>
</body>

</html>