<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar',{'loggedIn':loggedIn}) %>
    <%- include('common/banner', {'title': 'Shopping Cart'}) %>

    <%- include ('partial/cart', {
        items: items,
        subtotal: subtotal,
        error:error
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>
</body>

</html>