<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body id="category">
    <%- include('common/navbar',{'loggedIn':loggedIn}) %>
    <%- include('common/banner', {
                            title:  (categorytitle === null ? 'Search By Category' : categorytitle), 
                            description:  (categorytitle === null ? title : 'Browse shop items in ' + categorytitle + ' category ')}) %>

    <%# Each category should have count, optionally children %>
    <%- include ('partial/category', {
       title,
       categories: categories,
       parentid: parentid,
       categorytitle: categorytitle
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>


    <%# Script to handle price range selector %>
    <script>
        $(function () {
            if (document.getElementById("price-range")) {
                let priceUp = "<%= topprice %>" - 0;
                let nonLinearSlider = document.getElementById('price-range');
                noUiSlider.create(nonLinearSlider, {
                    connect: true,
                    behaviour: 'tap',
                    start: [0, priceUp],
                    range: {
                        'min': [0],
                        '10%': [priceUp / 20, priceUp / 20],
                        '50%': [priceUp / 2, priceUp / 8],
                        'max': [priceUp]
                    }
                });
                let nodes = [
                    document.getElementById('lower-value'), // 0
                    document.getElementById('upper-value')  // 1
                ];
                nonLinearSlider.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
                    nodes[handle].innerHTML = values[handle];
                    app.products.forEach((v) => { v.show = true });
                    app.products.filter((v) => v.price > (values[1] - 0) || v.price < (values[0] - 0)).forEach((v) => { v.show = false });
                });
            }
        });
    </script>

    <%# Vue app %>
    <script>
        let app = new Vue({
            el: "#category_view",
            data: {
                products: JSON.parse(`<%- JSON.stringify(products) %> `),
                per_page: 9,
            }
        })
    </script>

    <script>
        document.getElementById("pag0-tab").click();
    </script>
</body>

</html>