<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar') %>
    <%- include('common/banner', {'title': 'Checkout'}) %>

    <%- include ('partial/checkout', {
        items: proceedCheckOutObj['items'],
        delivery_info:loggedIn ? proceedCheckOutObj['delivery_info'] : {'delivery_charge':0},
        loggedIn:loggedIn
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>

    <%# Vue app %>
    <script>
        let app = new Vue({
            el: "#checkout_form",
            data: {
                delivery_method: 'deliver'
            }
        })
    </script>
</body>

</html>