<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar') %>

    <%- include ('partial/home') %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>
</body>

</html>