<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar') %>
    <%- include('common/banner', {'title': 'Product Details'}) %>

    <%- include ('partial/item', {
        name: name,
        category: category,
        description: description,
        images: images ,
        brand: brand,
        weight: weight,
    }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>
    <script>
        let app = new Vue({
            el: '#single_product',
            data: {
                current: 0,
                variants: JSON.parse(`<%- JSON.stringify(variants) %>`),
                variant_attributes: JSON.parse(`<%- JSON.stringify(variant_attributes) %>`),
                selectedQuantity: 1
            }
        });
    </script>
</body>

</html>