<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar',{'loggedIn': false}) %>
    <%- include('common/banner', {title: 'User Login', description: 'Login to our website'}) %>
    <%- include('partial/login', {'error': error, 'redirect': redirect}) %>
    <%- include('common/footer') %>
    <%- include('common/scripts') %>
</body>

</html>