<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar',{userData}) %>
    <%- include('common/banner', {title: 'Order Information', description: 'View order information'}) %>}) %>

    <%- include ('partial/order', {
            customer_info:orderHistoryObj.customer_info,
            delivery_info:orderHistoryObj.delivery_info,
            order_info:orderHistoryObj.order_info,
            items:orderHistoryObj.items
        }) %>

    <%- include('common/footer') %>
    <%- include('common/scripts') %>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>