<!DOCTYPE html>
<html lang="en">
<%- include('common/head') %>

<body>
    <%- include('common/navbar',{loggedIn:false}) %>
    <%- include('common/banner', {title: 'Register', description: 'Register to our website'}) %>
    <%- include('partial/register') %>
    <%- include('common/footer') %>
    <%- include('common/scripts') %>
    <script src="/js/window-date-picker.js"></script>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <script>
        let app = new Vue({
            el: "#register_form",
            data: {
                email: '',
                password: '',
                retype_password: '',
                firstName: '',
                lastName: '',
                addressLine1: '',
                addressLine2: '',
                telephoneNumber: '',
                city: '',
                postalCode: '',
                errors: [],
                emailExists: false,
                cityExists: true,
            },
            methods: {
                emailCheck: function (e) {
                    fetch('/api/email/' + this.email)
                        .then((response) => response.json())
                        .then((data) => {
                            this.emailExists = data.result;
                        });
                },
                cityCheck: function (e) {
                    fetch('/api/city/' + this.city)
                        .then((response) => response.json())
                        .then((data) => {
                            this.cityExists = data.result;
                        });
                },
                checkForm: function (e) {
                    if (this.password && (this.retype_password === this.password) && this.firstName &&
                        this.lastName && this.addressLine1 && this.addressLine2 && this.telephoneNumber &&
                        this.city && this.postalCode &&
                        this.telephoneNumber && phoneNumberRegex.test(this.telephoneNumber) &&
                        this.email && emailRegex.test(this.email) && !emailExists && cityExists

                    ) {
                        return true;
                    }

                    this.errors = [];

                    if (!this.password) this.errors.push('Password required.');
                    if (this.retype_password !== this.password) this.errors.push('Retype Password does not match password.');
                    if (!this.firstName) this.errors.push('First Name required.');
                    if (!this.lastName) this.errors.push('Last Name required.');
                    if (!this.addressLine1) this.errors.push('Address Line 1 required.');
                    if (!this.addressLine2) this.errors.push('Address Line 2 required.');
                    if (!this.city) this.errors.push('City required.');
                    if (!this.postalCode) this.errors.push('Postal Code required.');

                    if (!this.telephoneNumber) this.errors.push('Phone Number required.');
                    if (!phoneNumberRegex.test(this.telephoneNumber)) this.errors.push('Phone Number format invalid.');
                    if (!this.email) this.errors.push('Email Address required.');
                    if (!emailRegex.test(this.email)) this.errors.push('Email Address format invalid.');

                    if (this.emailExists) this.errors.push('Email address is already registered.');
                    if (!this.cityExists) this.errors.push('Invalid city selected.');

                    e.preventDefault();
                }
            }
        });

        new Autocomplete('#autocomplete', {
            search: (input) => {
                const url = `/api/cities?search=${encodeURI(input)}`;
                return new Promise((resolve) => {
                    fetch(url)
                        .then((response) => response.json())
                        .then((data) => {
                            resolve(data);
                        });
                });
            },
            getResultValue: (result) => result.city,
            onSubmit: (result) => {
                app.city = result.city;
            },
        });


        const picker = new WindowDatePicker({
            el: '#yellow-picker',
            toggleEl: '#birthday',
            inputEl: '#birthday',
        });
    </script>
</body>

</html>