<div class="card dont-print">
    <div class="card-body">
        <div id="<%= id %>"></div>
    </div>
</div>


<script>
    document.getElementById('<%= id %>').style.width = '100%';
    document.getElementById('<%= id %>').style.height = '<%= height %>';

    am4core.ready(function () {
        // Themes begin
        am4core.useTheme(am4themes_material);
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("<%= id %>", am4charts.XYChart);

        // Add data
        chart.data = JSON.parse(`<%- JSON.stringify(data) %>`);
        chart.data.forEach((v) => {
            v.date = new Date(v.date);
        });

        if (chart.data.length && chart.data.length > 1) {
            function sameDay(d1, d2) {
                return d1.getFullYear() === d2.getFullYear() &&
                    d1.getMonth() === d2.getMonth() &&
                    d1.getDate() === d2.getDate();
            }

            const firstDate = chart.data[0].date;
            const lastDate = chart.data[chart.data.length - 1].date;
            const dates = [
                ...Array(lastDate / 86400000 - firstDate / 86400000 + 1).keys()
            ].map(k => new Date(
                86400000 * k + Date.parse(firstDate)
            ));


            var prevDate = new Date(firstDate);
            prevDate.setDate(prevDate.getDate() - 1);


            let res = [];
            for (let i = 0, j = 0; i < dates.length; i++) {
                res[i] = {
                    date: dates[i],
                    value: sameDay(dates[i], chart.data[j].date) ? chart.data[j++].value : 0
                };
            };
            chart.data = res;
            chart.data.unshift({ date: prevDate, value: 0 });
        }

        chart.exporting.menu = new am4core.ExportMenu();
        chart.exporting.title = "<%= title %>";
        chart.exporting.filePrefix = "<%= title %>";
        var title = chart.titles.create();
        title.text = "<%= title %>";
        title.fontSize = 20;
        title.marginBottom = 30;

        // Create axes
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        dateAxis.baseInterval = { timeUnit: "", count: 1 };

        // Create series
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "value";
        series.dataFields.dateX = "date";
        series.tooltipText = "{value}"
        series.strokeWidth = 2;
        series.tensionX = 0.77;
        series.minBulletDistance = 15;

        // Drop-shaped tooltips
        series.tooltip.background.cornerRadius = 20;
        series.tooltip.background.strokeOpacity = 0;
        series.tooltip.pointerOrientation = "vertical";
        series.tooltip.label.minWidth = 40;
        series.tooltip.label.minHeight = 40;
        series.tooltip.label.textAlign = "middle";
        series.tooltip.label.textValign = "middle";

        // Make bullets grow on hover
        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.circle.strokeWidth = 1;
        bullet.circle.radius = 2;
        bullet.circle.fill = am4core.color("#fff");

        series.fill = am4core.color("<%= color%>");
        series.stroke = am4core.color("<%= color%>");

        var bullethover = bullet.states.create("hover");
        bullethover.properties.scale = 1.3;
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.behavior = "PanXY"

        // Create a horizontal scrollbar with previe and place it underneath the date axis
        chart.scrollbarX = new am4charts.XYChartScrollbar();
        chart.scrollbarX.series.push(series);
        chart.scrollbarX.parent = chart.bottomAxesContainer;


    }); // end am4core.ready()
</script>