<%# Ignore errors in this file related to 'style' %>
<% let idx = "category_" + category.id; %>
<% const padding_multip = 16; %>

<% if (category.children && category.children.length > 0) { %>
<li class="main-nav-list">
    <a data-toggle="collapse" href="#<%= idx %>" aria-expanded="false" aria-controls="<%= idx %>"
        style="padding-left: <%=depth*padding_multip %>px; font-weight: 500;">
        <%= category.name %>
    </a>
    <ul class="collapse" id="<%= idx %>" data-toggle="collapse" aria-expanded="false" aria-controls="<%= idx %>">
        <% category.children.forEach(function(category){ %>
        <%- include('_category_tree', {category, depth:depth + 1}) %>
        <% }); %>
    </ul>
</li>
<% }else { %>
<li class="main-nav-list"><a href="/category?category=<%= category.id -%>"
        style="padding-left: <%=depth*padding_multip %>px;">
        <%= category.name %><span class=" number">(<%= category.count %>)</span></a></li>
<% } %>