<section class="cart_area" id="shopping_cart_page">
    <div class="container">
        <% if (error != null){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error: </strong> <%=error.replace("error: ","")%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% }%>
        <div class="cart_inner">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-right">Price (LKR)</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Total (LKR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const item of items.filter((v) => v.cart_item_status === 'added')) { %>
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img height="100" width="100" style="object-fit: contain;"
                                            src="<%= item.image %>" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5>
                                            <a href="/item/show/<%= item.productid %>"
                                                class="text-dark"><%= item.product %></a>
                                        </h5>
                                        <p><%= item.variant %></p>
                                        <form action="/cart/remove/<%= item.id %>" method="post">
                                            <button type="submit" class="genric-btn small danger-border">Remove</button>

                                            <button type="button" class="genric-btn small info-border"
                                                v-on:click="itemtitle='<%= item.product %>';selectedQuantity=<%= item.quantity %>;cartitemid='<%= item.id %>';"
                                                data-toggle="modal" data-target="#changeQuantityModal">
                                                Edit
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5 class="text-right"><%= item.unitprice %></h5 class="text-right">
                            </td>
                            <td>
                                <h5 class="text-center"><%= item.quantity %></h5 class="text-right">
                            </td>
                            <td>
                                <h5 class="text-right"><%= (item.totalprice - 0).toFixed(2) %></h5>
                            </td>
                        </tr>
                        <% } %>

                        <tr class="bottom_button">
                            <td> </td>
                            <td> </td>
                            <td>
                                <h5>Subtotal (LKR)</h5>
                            </td>
                            <td>
                                <h5 class="text-right"><%= subtotal.toFixed(2) %></h5 class="text-right">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-left d-none d-md-flex   align-items-center">
                    <a class="gray_btn" href="/">Continue Shopping</a>
                </div>
                <% if (items != null && items.length != 0){ %>
                <div class="checkout_btn_inner d-flex align-items-center float-right">
                    <a class="primary-btn" href="/checkout/">Proceed to Checkout</a>
                </div>
                <% } %>
            </div>


            <% if (items.filter((v) => v.cart_item_status === 'transferred').length !== 0) { %>

            <div class="filter-bar text-center p-1 mt-5">
                <h4 class="p-1 text-white">Saved Items</h4>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <% for (const item of items.filter((v) => v.cart_item_status === 'transferred')) { %>
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img height="100" width="100" style="object-fit: contain;"
                                            src="<%= item.image %>" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5>
                                            <a href="/item/show/<%= item.productid %>"
                                                class="text-dark"><%= item.product %></a>
                                        </h5>
                                        <p><%= item.variant %></p>
                                        <div>
                                            <h5 class="text-success">LKR <%= item.unitprice %> x <%= item.quantity %>
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="/cart/transfer/<%= item.id %>" method="POST"
                                    class="card_area d-flex align-items-center">
                                    <button type="submit" value="submit" class="btn btn-secondary">Add</button>
                                </form>
                            </td>
                            <td>
                                <form action="/cart/remove/<%= item.id %>" class="card_area d-flex align-items-center"
                                    method="POST">
                                    <button type="submit" value="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>
        </div>
    </div>
    <div class="modal" id="changeQuantityModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Product Quantity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        Product
                                    </td>
                                    <td>
                                        {{itemtitle}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Quantity
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="text" name="qty" id="sst" maxlength="12"
                                                v-model.number="selectedQuantity" title="Quantity"
                                                class="input-text qty">
                                            <button v-on:click="selectedQuantity = selectedQuantity + 1"
                                                class="increase items-count" type="button"><i
                                                    class="lnr lnr-chevron-up"></i></button>
                                            <button v-on:click="selectedQuantity = Math.max(selectedQuantity-1, 0)"
                                                class="reduced items-count" type="button"><i
                                                    class="lnr lnr-chevron-down"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form class="modal-footer" method="post" v-bind:action="'/cart/edit/' + cartitemid">
                    <input type="number" name="quantity" v-bind:value="selectedQuantity" hidden />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</section>