<section class="cart_area" id="shopping_cart_page">
    <div class="container">
        <% if (error !== null){ %>
        <h5 class="text-danger text-center"><%=error%></h5>
        <% }%>
        <div class="cart_inner">
            <div class="table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price (LKR)</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total (LKR)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const item of items) { %>
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img height="100" width="100" src="<%= item.image %>" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h5><%= item.product %></h5>
                                        <p><%= item.variant %></p>
                                        <form action="/cart/remove/<%= item.id %>" method="post">
                                            <button type="submit" class="genric-btn small danger-border">Remove</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5><%= item.unitprice %></h5>
                            </td>
                            <td>
                                <h5><%= item.quantity %></h5>
                            </td>
                            <td>
                                <h5><%= item.totalprice %></h5>
                            </td>
                        </tr>
                        <% } %>

                        <tr class="bottom_button">
                            <td> </td>
                            <td> </td>
                            <td>
                                <h5>Subtotal (LKR)</h5>
                            </td>
                            <td>
                                <h5><%= subtotal %></h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-left d-none d-md-flex   align-items-center">
                    <a class="gray_btn" href="/">Continue Shopping</a>
                </div>
                <div class="checkout_btn_inner d-flex align-items-center float-right">
                    <a class="primary-btn" href="/checkout/">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>