<style>
    input {
        font-size: 13px !important;
        color: black;
    }
</style>

<section class="checkout_area section_gap" id="checkout_form">
    <div class="container">

        <% if (!loggedIn){%>
        <div class="returning_customer">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Returning Customer? <a href="/user/login?redirect=/checkout">&nbsp;Click here to
                        login</a></strong><br />
                If you have shopped with us before, please login using the above link. If you
                are a new customer, please proceed to the Billing & Shipping section.<br />
                You may create a new account using this link.&nbsp; <a href="/user/register">&nbsp;Click here to
                    register</a>
                <br />
                However please note that login is not required to make a purchase.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <br />
        <%}%>
        <%# Not logged in message End%>

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Your Details</h3>
                    <div class="row pb-3">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" v-model:value="first_name" :readonly="loggedIn"
                                placeholder="First Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" v-model:value="last_name" :readonly="loggedIn"
                                placeholder="Last Name">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" v-model:value="phone_number" :readonly="loggedIn"
                                placeholder="Telephone Number">
                        </div>
                        <div class="col-md-6 form-group">
                            <input @input="emailCheck" @blur="emailCheck" type="email" class="form-control p-3"
                                name="email" placeholder="Email (username@site.com)" v-model="email"
                                :readonly="loggedIn">
                            <div v-if="emailExists" class="col-md-12">
                                <small>Registered account. <a href="/user/login?redirect=/checkout">Sign in</a></small>
                            </div>
                        </div>

                    </div>
                    <h3>Delivery Details</h3>
                    <div class="row ">

                        <div class="col-md-12 form-group">
                            <select style="display: none;">
                                <option value="deliver">Deliver to an address </option>
                                <option value="pickup">Store pickup </option>
                            </select>
                            <div class="nice-select wide" tabindex="0"><span class="current">Deliver to an
                                    address</span>
                                <ul class="list">
                                    <li class="option" v-on:click="delivery_method = 'deliver'; cityCheck()"
                                        value="deliver">
                                        Deliver to an address
                                    </li>
                                    <li class="option"
                                        v-on:click="delivery_method = 'pickup'; payment_method = 'card'; cityExists = true"
                                        value="pickup">
                                        Store pickup
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div v-if="delivery_method === 'deliver'" class="col-md-12 p-0 m-0">
                            <div class="col-md-12 form-group">
                                <p class="text-muted">
                                    The order will be delivered to the below address.
                                </p>
                            </div>

                            <div class="col-md-12 form-group mb-2">
                                <input type="text" class="form-control" placeholder="Address Line 1"
                                    v-model:value="addr_line1">
                            </div>
                            <div class="col-md-12 form-group mb-2">

                                <input type="text" class="form-control" placeholder="Address Line 2"
                                    v-model:value="addr_line2">
                            </div>


                            <div class="col-md-12 form-group">
                                <div id="autocomplete" class="autocomplete">
                                    <input input="cityCheck" @blur="cityCheck" type="text" class="form-control p-3"
                                        name="city" v-model="city" placeholder="City (Select from dropdown)">
                                    <ul class="bg-white"></ul>
                                </div>
                                <div v-if="!cityExists" class="col-md-12 text-danger">
                                    <small>City is invalid. Please select a city from suggestions.</small>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" placeholder="PostCode" v-model:value="postcode">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="alert alert-secondary" role="alert">
                                    Estimated delivery days: {{delivery_days}}
                                </div>
                            </div>
                        </div>
                        <div v-else class="col-md-12 p-0 m-0">
                            <div class="col-md-12 form-group">
                                <p class="text-muted">
                                    You are required to come to the shop and collect the order yourself.
                                </p>
                            </div>
                        </div>

                        <div v-if="errors.length" class="col-md-12 p-0 m-0">
                            <div class="col-md-12 form-group">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Please correct the following problem(s):</strong> <br />
                                    <div class="ml-4">
                                        <li v-for="error in errors"> {{ error }}</li>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li><a>Product <span>Total (LKR)</span></a></li>
                            <!-- Items -->
                            <%  for (const item of items) {%>
                            <li>
                                <a href="/item/show/<%= item.product_id -%>" data-toggle="tooltip" data-placement="left"
                                    title="<%= item.product_title -%>">
                                    <%= item.product_title.substring(0, 12) -%>...
                                    <span class="middle">x <%= item.quantity %></span>
                                    <span class="last"><%= item.totalprice.toFixed(2)  %></span>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                        <ul class="list list_2">
                            <!-- Subtotal -->
                            <li><a>Subtotal
                                    <span>{{ subtotal.toFixed(2) }}</span>
                                </a>
                            </li>

                            <!-- Shipping Cost -->
                            <li v-if="delivery_method === 'deliver'">
                                <a>Shipping
                                    <span> {{delivery_charge.toFixed(2)}} </span>
                                </a>
                            </li>

                            <!-- Subtotal -->
                            <li>
                                <a>Total
                                    <span>
                                        {{(delivery_method==='deliver' ? delivery_charge + subtotal : subtotal).toFixed(2)}}
                                    </span>
                                </a>
                            </li>
                        </ul>

                        <div class="payment_item" v-if="delivery_method==='deliver'">
                            <div class="radion_btn">
                                <input type="radio" id="f-pay_on_delivery" name="payment_method" value="pay_on_delivery"
                                    v-model="payment_method">
                                <label for="f-pay_on_delivery">Pay on delivery</label>
                                <div class="check"></div>
                            </div>
                            <p>
                                You have to pay the total cost to the delivery person after you received the item.
                            </p>
                        </div>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-card" name="payment_method" value="card"
                                    v-model="payment_method">
                                <label for="f-card">Card Payment </label>
                                <img src="/img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Pay via PayPal or Credit Card; you can pay with your credit card if you don’t have a
                                PayPal
                                account.</p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-terms" v-model="terms_accepted">
                            <label for="f-terms">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <form action="/order" method="post" @submit="checkForm">
                            <input name="delivery_method" v-bind:value="delivery_method" hidden>
                            <input name="addr_line1" v-bind:value="addr_line1" hidden>
                            <input name="addr_line2" v-bind:value="addr_line2" hidden>
                            <input name="city" v-bind:value="city" hidden>
                            <input name="postcode" v-bind:value="postcode" hidden>
                            <input name="first_name" v-bind:value="first_name" hidden>
                            <input name="last_name" v-bind:value="last_name" hidden>
                            <input name="phone_number" v-bind:value="phone_number" hidden>
                            <input name="email" v-bind:value="email" hidden>
                            <input name="payment_method" v-bind:value="payment_method" hidden>
                            <input name="terms_accepted" v-bind:value="terms_accepted" hidden>
                            <button class="btn btn-block primary-btn" href="/order">Confirm Transaction</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>