<div id="single_product">
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <%# Image tags %>
                        <% for (const image of images) { %>
                        <div class="single-prd-item">
                            <img style="height: 400px; width: 400px; object-fit: contain;" src="<%= image %>" alt="">
                        </div>
                        <%  } %>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3><%= name.length > 45 ? name.substring(0, 45) + '...' : name %></h3> <%# Name %>
                        <h2 style="-webkit-text-fill-color: #243D76; background: transparent;"
                            v-bind:text="variants[current].price">LKR {{variants[current].price}}
                            <span style="-webkit-text-fill-color: #243D76; background: transparent;"
                                class="text-muted px-3" v-bind:text="variants[current].price">
                                <small><del>LKR {{variants[current].old_price}}</del></small>
                            </span>
                        </h2> <%# Price %>

                        <ul class="list">
                            <%# Brand %>
                            <li><a><span>Brand</span> :
                                    <%= brand === null ? 'Not branded': brand %></a></li>
                            <li><a><span>Weight (kg)</span> :
                                    <%= brand === null ? 'Not specified': weight %></a></li>
                            <li><a><span>Availibility</span>
                                    :
                                    <%# Stock %>
                                    <span v-bind:class="{'text-danger': variants[current].amount == 0}">
                                        {{  (variants[current].amount == 0) ? 'Out of Stock' : 'In Stock' }}
                                    </span>
                                </a></li>
                        </ul>

                        <%# Snippet %>
                        <p style="margin-bottom: 20px !important;">
                            <i> <%= name %></i>
                        </p>

                        <div class="mb-3">
                            <div class="default-select" id="product_variant">
                                <select style="display: none;">
                                    <option v-for="variant in variants" v-bind:value="variant.id">{{variant.title}}
                                    </option>
                                </select>
                                <div class="nice-select" tabindex="0"><span
                                        class="current">{{variants[current].title}}</span>
                                    <ul class="list">
                                        <li v-for="[index, variant] in variants.entries()" class="option"
                                            v-on:click="current = index; selectedQuantity=Math.min(variants[index].amount, 1)"
                                            v-bind:data-value="variant.id">
                                            {{variant.title}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form method="post" action="/cart/add/">
                            <div class="product_count">
                                <label for="qty">Quantity:</label>
                                <%# Quantity %>
                                <input type="text" name="qty" id="sst" maxlength="12"
                                    v-model.number="variants[current].amount == 0 ? 0 :selectedQuantity"
                                    title="Quantity:" class="input-text qty">
                                <button
                                    v-on:click="selectedQuantity = Math.min(selectedQuantity+1, variants[current].amount) "
                                    class="increase items-count" type="button"><i
                                        class="lnr lnr-chevron-up"></i></button>
                                <button v-on:click="selectedQuantity = Math.max(selectedQuantity-1, 0)"
                                    class="reduced items-count" type="button"><i
                                        class="lnr lnr-chevron-down"></i></button>
                            </div>

                            <input type="text" name="variant" v-bind:value="variants[current].variant_id" hidden />
                            <div class="card_area d-flex align-items-center">
                                <button v-if="selectedQuantity > 0 && variants[current].amount > 0" type="submit"
                                    style="border: none;" value="submit" class="primary-btn">Add to Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link show active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Attributes</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <%# Description %>
                    <%= description %>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <%# Variant Attributes %>
                                <tr v-for="attrib of variant_attributes"
                                    v-if="attrib['variant_id'] === variants[current].variant_id">
                                    <td>
                                        <h5>{{attrib['key']}}</h5>
                                    </td>
                                    <td>
                                        <h5>{{attrib['value']}}</h5>
                                    </td>
                                </tr>
                                <%# Product Attributes %>
                                <% for (const attrib of attributes) {%>
                                <tr>
                                    <td>
                                        <h5><%- attrib['key'] %></h5>
                                    </td>
                                    <td>
                                        <h5><%- attrib['value'] %></h5>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="related-product-area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Releated Products</h1>
                        <p>You might also like to check out these products as well.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <% for (item of related) { %>
                <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                    <div class="single-related-product d-flex">
                        <a href="#"><img style="width: 70px; height: 70px; object-fit: contain;"
                                src="<%= item.image_url %>" alt=""></a>
                        <div class="desc">
                            <a href="/item/show/<%= item.product_id %>"
                                class="title"><%= item.title.substring(0, 25) + "..." %></a>
                            <div class="price">
                                <h6>LKR <%= item.min_selling_price %></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>

</div>