<section class="order_details section_gap">
    <div class="container">
        <% if (show_thanks) { %>
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <% } %>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order id</span> : <%= order_info.order_id %></a></li>
                        <li><a href="#"><span>Date</span> : <%= order_info.order_date %></a></li>
                        <li><a href="#"><span>Payment Method</span> : <%= order_info.payment_method %></a></li>
                        <li><a href="#"><span>Delivery method</span> : <%= order_info.dispatch_method %></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-4">
                    <%if (orderHistoryObj.delivery_info.delivery_charge) {%>
                <div class="details_item">
                    <h4>Delivery Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Address Line 1</span> : <%= delivery_info.addr_line1 %> </a></li>
                        <li><a href="#"><span>Address Line 2</span> : <%= delivery_info.addr_line2 %> </a></li>
                        <li><a href="#"><span>City</span> : <%= delivery_info.city %> </a></li>
                        <li><a href="#"><span>Postal code </span> : <%= delivery_info.postcode %> </a></li>
                    </ul>
                </div>
                <% } %>
            </div>
            
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>User Information</h4>
                    <ul class="list">
                        <li><a href="#"><span>Name</span> : <%= customer_info.first_name %> &nbsp; <%= customer_info.last_name %></a></li>
                        <li><a href="#"><span>Phone Number</span> : <%= customer_info.phone_number %></a></li>
                        <li><a href="#"><span>Email</span> : <%= customer_info.email %></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for (const item of items) {%>
                        <tr>
                            <td>
                                <p><%= item.title%></p>
                            </td>
                            <td>
                                <h5>x <%= item.quantity%></h5>
                            </td>
                            <td>
                                <p><%= (parseFloat(item.selling_price) * parseFloat(item.quantity)).toFixed(2) %></p>
                            </td>
                        </tr>
                        <% } %>

                        <tr>
                            <td>
                                <h4>Subtotal</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p><%= order_info.payment_amount - (delivery_info.delivery_charge ? delivery_info.delivery_charge : 0) %></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Shipping</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p><%= delivery_info.delivery_charge ? delivery_info.delivery_charge : 0%></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <p><%= order_info.payment_amount%></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>