<section class="blog_area mb-5 section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="categories_post">
                            <img style="height: 200px; object-fit: cover;"
                                src="https://images.radio.com/wwlam/styles/nts_image_cover_tall_775x425/s3/Shopping%20Cart%20in%20Grocery%20Store%20%28DT%29.jpg"
                                alt="cart">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/cart">
                                        <h5>Your Cart</h5>
                                    </a>
                                    <div class="border_line"></div>
                                    <p>View your Cart Items</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="categories_post">
                            <img style="height: 200px; object-fit: cover;"
                                src="https://cdn.pixabay.com/photo/2019/07/13/13/42/watch-4334815_960_720.jpg"
                                alt="cart">
                            <div class="categories_details">
                                <div class="categories_text">
                                    <a href="/category">
                                        <h5>Categories</h5>
                                    </a>
                                    <div class="border_line"></div>
                                    <p>Browse through the catelogue of products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h1 class="text-center">Your Recent Orders</h1>
                    <hr />
                </div>
                <div class="mt-5">
                    <% for (item of recentOrders){ %>
                    <div class="card shadow-sm p-3 mb-3">
                        <h4>Ordered on <%= item.order_date %>
                            <span class="float-right">
                                <span class="badge badge-warning p-2"><%= item.order_status %></span>
                            </span>
                        </h4>
                        <div class="list-group my-2">
                            <% for (i of [...Array(item.products - 0).keys()]){ %>
                            <a href="/item/show/<%=JSON.parse(item.product_ids)[i] %>" class="p-2 text-dark"
                                data-toggle="tooltip" data-placement="left"
                                title=" <%= JSON.parse(item.titles)[i] %> (x  <%= JSON.parse(item.quantities)[i] %>)">
                                <img style="object-fit: contain;" width="50" height="30" class="mr-3"
                                    src="<%= JSON.parse(item.image_urls)[i] %>" alt="product">
                                <%= JSON.parse(item.titles)[i].substring(0,  60) + '...' %>
                                <strong class="float-right text-success">LKR
                                    <%= JSON.parse(item.selling_prices)[i].toFixed(2) %></strong>
                            </a>
                            <% }%>
                        </div>
                        <div class="text-right">
                            <a href="/order/<%= item.order_id %>" class="btn btn-outline-primary btn-block">Show
                                details</a>
                        </div>
                    </div>
                    <% }%>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" <%# Email Avatar %>
                            src="https://api.adorable.io/avatars/125/<%= userInfo.email %>" alt="">
                        <%# User Name %>
                        <h4><%= userInfo.name %> <span
                                class="badge badge-primary badge-pill"><%= userInfo.account_type %></span></h4><br />

                        <%# Details %>
                        <strong><%= userInfo.email %></strong><br />
                        <p class="mb-2"><%= userInfo.address %></p>
                        <% if (userInfo.account_type === 'admin'){%>
                        <a class="btn btn-success btn-block text-white mt-2" target="_blank" href="/admin/sales">Admin
                            Panel</a>
                        <%}%>
                        <a class="btn btn-danger btn-block text-white mt-2" href="/user/logout">Logout</a>
                        <div class="br"></div>
                    </aside>
                    <%if (recentProducts.length) { %>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Items</h3>
                            <%for (item of recentProducts) {%>
                            <div class="mb-20">
                                <div class="single-related-product d-flex">
                                    <a href="#"><img style="width: 50px; height: 70px; object-fit: contain;"
                                            src="<%= item.image_url %>" alt=""></a>
                                    <div class="desc">
                                        <a href="/item/show/<%= item.product_id %>"
                                            class="title"><%= item.title.substring(0, 25) + "..." %></a>
                                        <div class="price">
                                            <h6>LKR <%= item.min_selling_price %></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </aside>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
</section>